### Test outputs and cache files
logs/
__pycache__*

#### .env, configs
*.yml
*.gitlab-ci.yml
*.patch
*.7z

### deploy
deploy/config/local.yaml
deploy/config/development.yaml
deploy/.env/dev.env
deploy/.env/local.env
deploy/docker/

### Virtual environment\
.venv/
.pytest_cache/

### IDE and editor files
.vscode/
.idea/
.gitignore
*.md
*.ps1