### Test outputs and cache files
cache/cache/
output/
ignore/
logs/
bckp/

__pycache__*
#### .env, configs
*.env
*.yaml
*.yml
*.gitlab-ci.yml

### deploy
!deploy/config/app_global.yaml
config/sosal.py
tests/conftest.py
tests/testing_setup_guide.txt
tests/db/firebird_tests.py
utils/db/database_init

### Virtual environment\
.venv/
.pytest_cache/

### IDE and editor files
.vscode/
.idea/
