### Test outputs and cache files
logs/
__pycache__*
#### .env, configs
*.env
*.yaml
*.yml
*.gitlab-ci.yml
*.patch
*.7z
### deploy
!deploy/config/app_global.yaml
!deploy/docker/compose.yaml
### Virtual environment\
.venv/
.pytest_cache/

### IDE and editor files
.vscode/
.idea/
.gitignore
fesco_launcher.ps1
tree.txt
